.head1 h1{
	float:left;
	color:white;
	background:transparent;
	font-family: "Times New Roman", Times, serif;
	font-size:xx-large;
}
.head2 h4{
    position: absolute;
    left:7%;
    top:10%;
    color:white;
	background:transparent;
	font-family: "Times New Roman", Times, serif;
	font-size:15PX;
}
.list{
    border-bottom-width: 900px;
    border-bottom: 1px solid darkgray;
    padding:12px; 
    float: right;
}

.list ul li{
    float: left;
    text-align: center;
    width: 70px;
    list-style-type: none;
}


.list ul li a{
    text-decoration: none; 
    color:white;

}

.list ul li a:hover{
    border-bottom: 4px solid brown;
    padding: 2px;
}

body{
    background: url(learn_1.jpg)no-repeat;
    background-size: cover;
    font-family: latha;
    background-attachment: fixed;

}
h2{
   float: left;
}
.box1{
	width: 120px;
    margin: 5px;
    position: absolute;
    left: 2%;
    top:24%;
    border: 1px solid white;
    padding: 10px;
    background: black;
    color:white;
    border-radius: 8px;
    opacity: 0.6;
    font-family: cairo,sans-serif;

}
.box1 a{
	color: white;
	text-decoration: none;
	font-style: bold;
	opacity:1;
}
.box2{
	width: 900px;
    margin: 5px;
    position: absolute;
    left:20%;
    top:24%;
    border: 1px solid white;
    padding: 10px;
    background: black;
    color:white;
    border-radius: 8px;
    opacity: 0.6;
    font-family: cairo,sans-serif;

}